@import './variables';

/* Generales  */

html{
    font-size:$font-size;
}
body {
    background: radial-gradient($primary-color, $primary-color*0.8);
    font-family: "EB Garamond", Helvetica, Arial, sans-serif ;
} 
ul {
    list-style-type: none;
}
iframe {
    margin: 20px;
    height:$img-wireframe-height;
}
h1{
    text-align: center;
}
/* --------------------- */

/* Barra de navegacion */

.sticky{
    position:fixed;
    background-color:rgba(242, 232, 207, 0.65);
    z-index:1;
}
.header{
    display:flex;
    justify-content: center;
    .header__logo {
        width:$img-logo-size;
        height: $img-logo-size;
        border: none;
        box-shadow: none;
    }
}
.navBar{
    justify-content: flex-end;
    align-items: flex-start;
    .navBar__link{
        margin:20px;
        color:black; 
        &:hover{
            color:black; 
            background: radial-gradient(rgba(242, 232, 207, 0.7), rgba(242, 232, 207, 0));
            border-radius:100px; 
        }
    }
}
.navDropDown{
    background-color: $primary-color ;
    .navDropDown__link {
        text-decoration: none;
    }
}
.navMobile{
    display:none;
}

/* --------------------- */


/* footer */

main, footer{
    padding:15px;
} 

footer{
    background-color: $primary-color; 
    .footer__datos{
        display:flex;
        justify-content:flex-start;
        align-items: center;
        .footer__item{
            margin:10px;
            .footer__icon{
                display:inline-block;
                margin-bottom:0px;
            }
        }
    }
    .redes{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .redes__link{
            margin:15px;
        }
    }
} 



/* --------------------- */
