$primary-color:rgb(242, 232, 207);
$font-size:15px;

$img-gallery-size: 150px;
$img-comentarios-size:100px;
$img-logo-size:100px;
$img-wireframe-width:600px;
$img-wireframe-height:400px;

$about-foto-width: 387px;
$about-foto-height: 516px;